src/conf/wsdl/localhost_8080/AdminWS/AdminWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addNewBranch" type="tns:addNewBranch"/>

<xs:element name="addNewDepartment" type="tns:addNewDepartment"/>

<xs:element name="addNewDesignation" type="tns:addNewDesignation"/>

<xs:element name="addNewUser" type="tns:addNewUser"/>

<xs:element name="addNewUser_1" type="tns:addNewUser_1"/>

<xs:element name="branch" type="tns:branch"/>

<xs:element name="changeUserPassword" type="tns:changeUserPassword"/>

<xs:element name="checkCredentials" type="tns:checkCredentials"/>

<xs:element name="checkCredentialsResponse" type="tns:checkCredentialsResponse"/>

<xs:element name="department" type="tns:department"/>

<xs:element name="designation" type="tns:designation"/>

<xs:element name="getAllBranch" type="tns:getAllBranch"/>

<xs:element name="getAllBranchResponse" type="tns:getAllBranchResponse"/>

<xs:element name="getAllDepartment" type="tns:getAllDepartment"/>

<xs:element name="getAllDepartmentResponse" type="tns:getAllDepartmentResponse"/>

<xs:element name="getAllDesignation" type="tns:getAllDesignation"/>

<xs:element name="getAllDesignationResponse" type="tns:getAllDesignationResponse"/>

<xs:element name="getAllUser" type="tns:getAllUser"/>

<xs:element name="getAllUserResponse" type="tns:getAllUserResponse"/>

<xs:element name="getBranchDetailsById" type="tns:getBranchDetailsById"/>

<xs:element name="getBranchDetailsByIdResponse" type="tns:getBranchDetailsByIdResponse"/>

<xs:element name="getDepartmentDetailsById" type="tns:getDepartmentDetailsById"/>

<xs:element name="getDepartmentDetailsByIdResponse" type="tns:getDepartmentDetailsByIdResponse"/>

<xs:element name="getDesignationDetailsById" type="tns:getDesignationDetailsById"/>

<xs:element name="getDesignationDetailsByIdResponse" type="tns:getDesignationDetailsByIdResponse"/>

<xs:element name="getUserDetailsById" type="tns:getUserDetailsById"/>

<xs:element name="getUserDetailsByIdResponse" type="tns:getUserDetailsByIdResponse"/>

<xs:element name="removeBranch" type="tns:removeBranch"/>

<xs:element name="removeDepartment" type="tns:removeDepartment"/>

<xs:element name="removeDesignation" type="tns:removeDesignation"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="setUserStatus" type="tns:setUserStatus"/>

<xs:element name="updateBranch" type="tns:updateBranch"/>

<xs:element name="updateDepartment" type="tns:updateDepartment"/>

<xs:element name="updateDesignation" type="tns:updateDesignation"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUser_1" type="tns:updateUser_1"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="addNewBranch">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setUserStatus">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDesignation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDesignationResponse">
<xs:sequence>
<xs:element name="return" type="tns:designation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="designation">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewUser">
<xs:sequence>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewUser_1">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="emailId" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="mobileNo" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:dateTime" minOccurs="0"/>
<xs:element name="branchId" type="xs:int" minOccurs="0"/>
<xs:element name="designationId" type="xs:int" minOccurs="0"/>
<xs:element name="departmentId" type="xs:int" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
<xs:element name="isOnline" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDepartment">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDepartmentResponse">
<xs:sequence>
<xs:element name="return" type="tns:department" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="department">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchDetailsById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchDetailsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branch">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="mobileNo" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCredentials">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCredentialsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDesignationDetailsById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDesignationDetailsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:designation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranch">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="mobileNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartmentDetailsById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartmentDetailsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:department" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="branchId" type="tns:branch" minOccurs="0"/>
<xs:element name="departmentId" type="tns:department" minOccurs="0"/>
<xs:element name="designationId" type="tns:designation" minOccurs="0"/>
<xs:element name="dob" type="xs:dateTime" minOccurs="0"/>
<xs:element name="doj" type="xs:dateTime" minOccurs="0"/>
<xs:element name="emailId" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="isOnline" type="xs:boolean"/>
<xs:element name="mobileNo" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewDepartment">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBranch">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDepartment">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDesignation">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDepartment">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDesignation">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser_1">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="emailId" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="mobileNo" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:dateTime" minOccurs="0"/>
<xs:element name="branchId" type="xs:int" minOccurs="0"/>
<xs:element name="designationId" type="xs:int" minOccurs="0"/>
<xs:element name="departmentId" type="xs:int" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
<xs:element name="isOnline" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBranch">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBranchResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDetailsById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDetailsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeUserPassword">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewDesignation">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>