src/conf/xml-resources/web-service-references/AdminWS/wsdl/localhost_8080/AdminWS/AdminWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AdminWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AdminWS/AdminWS?xsd=1"/>
</xsd:schema>
</types>
<message name="setUserStatus">
<part name="parameters" element="tns:setUserStatus"/>
</message>
<message name="getUserDetailsById">
<part name="parameters" element="tns:getUserDetailsById"/>
</message>
<message name="getUserDetailsByIdResponse">
<part name="parameters" element="tns:getUserDetailsByIdResponse"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUser_1">
<part name="parameters" element="tns:updateUser_1"/>
</message>
<message name="getDesignationDetailsById">
<part name="parameters" element="tns:getDesignationDetailsById"/>
</message>
<message name="getDesignationDetailsByIdResponse">
<part name="parameters" element="tns:getDesignationDetailsByIdResponse"/>
</message>
<message name="getBranchDetailsById">
<part name="parameters" element="tns:getBranchDetailsById"/>
</message>
<message name="getBranchDetailsByIdResponse">
<part name="parameters" element="tns:getBranchDetailsByIdResponse"/>
</message>
<message name="addNewDesignation">
<part name="parameters" element="tns:addNewDesignation"/>
</message>
<message name="removeDesignation">
<part name="parameters" element="tns:removeDesignation"/>
</message>
<message name="updateDesignation">
<part name="parameters" element="tns:updateDesignation"/>
</message>
<message name="getAllDesignation">
<part name="parameters" element="tns:getAllDesignation"/>
</message>
<message name="getAllDesignationResponse">
<part name="parameters" element="tns:getAllDesignationResponse"/>
</message>
<message name="getDepartmentDetailsById">
<part name="parameters" element="tns:getDepartmentDetailsById"/>
</message>
<message name="getDepartmentDetailsByIdResponse">
<part name="parameters" element="tns:getDepartmentDetailsByIdResponse"/>
</message>
<message name="changeUserPassword">
<part name="parameters" element="tns:changeUserPassword"/>
</message>
<message name="getAllBranch">
<part name="parameters" element="tns:getAllBranch"/>
</message>
<message name="getAllBranchResponse">
<part name="parameters" element="tns:getAllBranchResponse"/>
</message>
<message name="getAllDepartment">
<part name="parameters" element="tns:getAllDepartment"/>
</message>
<message name="getAllDepartmentResponse">
<part name="parameters" element="tns:getAllDepartmentResponse"/>
</message>
<message name="addNewBranch">
<part name="parameters" element="tns:addNewBranch"/>
</message>
<message name="updateDepartment">
<part name="parameters" element="tns:updateDepartment"/>
</message>
<message name="removeDepartment">
<part name="parameters" element="tns:removeDepartment"/>
</message>
<message name="addNewUser">
<part name="parameters" element="tns:addNewUser"/>
</message>
<message name="addNewUser_1">
<part name="parameters" element="tns:addNewUser_1"/>
</message>
<message name="getAllUser">
<part name="parameters" element="tns:getAllUser"/>
</message>
<message name="getAllUserResponse">
<part name="parameters" element="tns:getAllUserResponse"/>
</message>
<message name="updateBranch">
<part name="parameters" element="tns:updateBranch"/>
</message>
<message name="addNewDepartment">
<part name="parameters" element="tns:addNewDepartment"/>
</message>
<message name="removeBranch">
<part name="parameters" element="tns:removeBranch"/>
</message>
<message name="checkCredentials">
<part name="parameters" element="tns:checkCredentials"/>
</message>
<message name="checkCredentialsResponse">
<part name="parameters" element="tns:checkCredentialsResponse"/>
</message>
<portType name="AdminWS">
<operation name="setUserStatus">
<input wsam:Action="http://ws/AdminWS/setUserStatus" message="tns:setUserStatus"/>
</operation>
<operation name="getUserDetailsById">
<input wsam:Action="http://ws/AdminWS/getUserDetailsByIdRequest" message="tns:getUserDetailsById"/>
<output wsam:Action="http://ws/AdminWS/getUserDetailsByIdResponse" message="tns:getUserDetailsByIdResponse"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://ws/AdminWS/removeUser" message="tns:removeUser"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://ws/AdminWS/updateUser" message="tns:updateUser"/>
</operation>
<operation name="updateUser_1">
<input wsam:Action="http://ws/AdminWS/updateUser_1" message="tns:updateUser_1"/>
</operation>
<operation name="getDesignationDetailsById">
<input wsam:Action="http://ws/AdminWS/getDesignationDetailsByIdRequest" message="tns:getDesignationDetailsById"/>
<output wsam:Action="http://ws/AdminWS/getDesignationDetailsByIdResponse" message="tns:getDesignationDetailsByIdResponse"/>
</operation>
<operation name="getBranchDetailsById">
<input wsam:Action="http://ws/AdminWS/getBranchDetailsByIdRequest" message="tns:getBranchDetailsById"/>
<output wsam:Action="http://ws/AdminWS/getBranchDetailsByIdResponse" message="tns:getBranchDetailsByIdResponse"/>
</operation>
<operation name="addNewDesignation">
<input wsam:Action="http://ws/AdminWS/addNewDesignation" message="tns:addNewDesignation"/>
</operation>
<operation name="removeDesignation">
<input wsam:Action="http://ws/AdminWS/removeDesignation" message="tns:removeDesignation"/>
</operation>
<operation name="updateDesignation">
<input wsam:Action="http://ws/AdminWS/updateDesignation" message="tns:updateDesignation"/>
</operation>
<operation name="getAllDesignation">
<input wsam:Action="http://ws/AdminWS/getAllDesignationRequest" message="tns:getAllDesignation"/>
<output wsam:Action="http://ws/AdminWS/getAllDesignationResponse" message="tns:getAllDesignationResponse"/>
</operation>
<operation name="getDepartmentDetailsById">
<input wsam:Action="http://ws/AdminWS/getDepartmentDetailsByIdRequest" message="tns:getDepartmentDetailsById"/>
<output wsam:Action="http://ws/AdminWS/getDepartmentDetailsByIdResponse" message="tns:getDepartmentDetailsByIdResponse"/>
</operation>
<operation name="changeUserPassword">
<input wsam:Action="http://ws/AdminWS/changeUserPassword" message="tns:changeUserPassword"/>
</operation>
<operation name="getAllBranch">
<input wsam:Action="http://ws/AdminWS/getAllBranchRequest" message="tns:getAllBranch"/>
<output wsam:Action="http://ws/AdminWS/getAllBranchResponse" message="tns:getAllBranchResponse"/>
</operation>
<operation name="getAllDepartment">
<input wsam:Action="http://ws/AdminWS/getAllDepartmentRequest" message="tns:getAllDepartment"/>
<output wsam:Action="http://ws/AdminWS/getAllDepartmentResponse" message="tns:getAllDepartmentResponse"/>
</operation>
<operation name="addNewBranch">
<input wsam:Action="http://ws/AdminWS/addNewBranch" message="tns:addNewBranch"/>
</operation>
<operation name="updateDepartment">
<input wsam:Action="http://ws/AdminWS/updateDepartment" message="tns:updateDepartment"/>
</operation>
<operation name="removeDepartment">
<input wsam:Action="http://ws/AdminWS/removeDepartment" message="tns:removeDepartment"/>
</operation>
<operation name="addNewUser">
<input wsam:Action="http://ws/AdminWS/addNewUser" message="tns:addNewUser"/>
</operation>
<operation name="addNewUser_1">
<input wsam:Action="http://ws/AdminWS/addNewUser_1" message="tns:addNewUser_1"/>
</operation>
<operation name="getAllUser">
<input wsam:Action="http://ws/AdminWS/getAllUserRequest" message="tns:getAllUser"/>
<output wsam:Action="http://ws/AdminWS/getAllUserResponse" message="tns:getAllUserResponse"/>
</operation>
<operation name="updateBranch">
<input wsam:Action="http://ws/AdminWS/updateBranch" message="tns:updateBranch"/>
</operation>
<operation name="addNewDepartment">
<input wsam:Action="http://ws/AdminWS/addNewDepartment" message="tns:addNewDepartment"/>
</operation>
<operation name="removeBranch">
<input wsam:Action="http://ws/AdminWS/removeBranch" message="tns:removeBranch"/>
</operation>
<operation name="checkCredentials">
<input wsam:Action="http://ws/AdminWS/checkCredentialsRequest" message="tns:checkCredentials"/>
<output wsam:Action="http://ws/AdminWS/checkCredentialsResponse" message="tns:checkCredentialsResponse"/>
</operation>
</portType>
<binding name="AdminWSPortBinding" type="tns:AdminWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setUserStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getUserDetailsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateUser_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDesignationDetailsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchDetailsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewDesignation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeDesignation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateDesignation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllDesignation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDepartmentDetailsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeUserPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewUser_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="checkCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminWS">
<port name="AdminWSPort" binding="tns:AdminWSPortBinding">
<soap:address location="http://localhost:8080/AdminWS/AdminWS"/>
</port>
</service>
</definitions>